.container {
  padding: 0 30px;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .title {
      height: 59px;
      line-height: 59px;
      color: $parent-title-color;
      font-size: 16px;
      font-weight: 500;
    }
  }
  .pagination {
    display: flex;
    justify-content: flex-end;
    margin: 20px;
  }
}

// 自定义class
.handle{
  padding: 0 15px;
  margin: 5px 0 15px;
}
.el-row-left{
  display: flex;
  align-items: center;
}

.el-row-right{
  display: flex;
  justify-content: flex-end;
}

// form
.el-form-item{
  margin-bottom: 0 !important;
}

  // el-tag
.el-tag-content {
  display: flex;
  flex-flow: wrap;
  justify-content: flex-start;
  align-items: center;
}
.el-tag {
  height: 32px;
  line-height: 30px;
  margin-left: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
}
.el-tag-content > .el-button {
  margin-bottom: 10px;
}

/* form表单样式 */
.client_type{
  display: flex;
  align-items: center;
}
._type{
  display: inline-block;
  width: 100%;
  color: #333333;
  text-align: center;
}

._icon{
  font-size: 28px;
  i{
    margin:0 5px;
    cursor: pointer;
  }
}

._delete{
  color: #f4516c;
}
/* end form表单样式 */
